@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  height: 100%;
  background-image: url('../public/earth.jpg');
  background-position: center;
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat; /* Prevent background image from repeating */
}
